/*palette*/

:root {
    --primary-azure: #1b72e8;
    --primary-blue: #0d253b;
    --primary-white: #f8f9fa;
    --primary-grey: #e5e5e5;
    --secondary-orange: #f26551;
    --secondary-green: #198754;
    --secondary-yellow: #ffc107;
    --secondary-red: #dc3545;
    --secondary-light-grey: #e5e5e5;
    --secondary-grey: #6c757d;
    --secondary-dark-grey: #5b5858;
}

.text-my-yellow {
    color: var(--secondary-yellow);
}

/*icons

<i class="fa-solid fa-house"></i> --home
<i class="fa-solid fa-chart-simple"></i> --stats
<i class="fa-solid fa-signal"></i> --signal
<i class="fa-solid fa-gear"></i> --settings
<i class="fa-solid fa-magnifying-glass"></i> --search
<i class="fa-solid fa-bell"></i> --notify
<i class="fa-solid fa-circle-question"></i> --question
<i class="fa-solid fa-list"></i> --list
<i class="fa-solid fa-ellipsis-vertical"></i> --dots
<i class="fa-solid fa-pen"></i> --modify
<i class="fa-solid fa-trash"></i> --delete
<i class="fa-solid fa-plus"></i> --add/plus

*/

/*miscellaneous*/

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul>li {
    list-style: none;
}



img {
    width: 100%;
}

main {
    width: 100%;
    height: calc(100% -80px);
    display: flex;
}

#macro-wrapper {
    width: 100%;
    height: 100vh;
}

.icon {
    width: 30px;
}

.btn {
    color: var(--secondary-dark-grey) !important;
}

/*header*/

header {
    width: 100%;
    height: 80px;
}

.logo-wrapper {
    width: 150px;
}

.input-group-text {
    background-color: var(--secondary-light-grey) !important;
    padding-right: 0px !important;
}

.form-control {
    background-color: var(--secondary-light-grey) !important;
}

button.btn.notibell {
    color: var(--secondary-yellow) !important;
}

.btn.dropdown-toggle {
    padding: 5px 0px 5px 10px !important;
}

.btn.show {
    border: 2px solid var(--secondary-light-grey);
}

.dropdown-toggle::after {
    border-top: none !important;
    border-right: none !important;
}

/*sidebar*/

#sidebar {
    width: 200px;
    height: calc(100vh - 80px);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--primary-blue);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.upper-icon-wrapper {
    height: calc(100% - 40px);
}

.settings-wrapper {
   height: 40px; 
}

/*main-menù*/

#main-menù {
    width: calc(100% - 200px);
    overflow-y: scroll;
}

